{% extends 'mainTemplate.html' %}
{% load staticfiles %}

{% block left %}
    <div class="three wide computer five wide tablet five wide mobile column">
        <div class="ui card">
            <div class="ui medium image">
                <img src="{{ user.avatar.url }}" />
            </div>
            <div class="content">
                <a href="/user/{{ user.id }}" class="header">{{ user.user.first_name }} {{ user.user.last_name }}</a>
                <div class="meta">
                    <span class="date">Username: {{ user.user.username }}</span>
                </div>
            </div>
            <div class="extra content">
                <a href="/user/{{ user.id }}/followers">
                    <i class="user icon"></i>
                    {{ followers_count }} Followers
                </a>
                <br>
                <a href="/user/{{ user.id }}/following">
                    <i class="user icon"></i>
                    {{ followings_count }} Following
                </a>
            </div>
        </div>

        {% block button %}
        {% endblock %}
    </div>
{% endblock %}

{% block main %}
    <!-- main column -->
    <div class="six wide computer eleven wide tablet sixteen wide mobile column">
        <div class="ui segment">
            <div class="ui medium header">
                {% if followers %}
                    Followers:
                {% else %}
                    Following:
                {% endif %}
            </div>
            <div class="ui vertical segment">
                <div class="ui divided list">
                    {% for user in users_list %}
                        <div class="item">
                            <a href="/user/{{ user.id }}">
                                <img class="ui avatar left floated image" src="{{ user.avatar.url }}">
                            </a>
                            <a class="ui tiny header" href="/user/{{ user.id }}">{{ user.display_name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- main column end -->
{% endblock %}