{% extends 'movie_template.html' %}
{% load staticfiles %}

{% block main %}
    <!-- main column -->
    <div class="six wide computer eleven wide tablet sixteen wide mobile column">
        <div class="ui segment">
            <div class="ui segment">
                <div class="ui small header">
                    Rate this movie:
                </div>
                <div class="ui huge rating" data-max-rating="10" id="commentWindow"></div>
            </div>

            {% for post in posts %}
                <div class="ui segment">
                    <div class="ui vertical segment">
                        <a href="/user/{{ post.author.id }}">
                            {% if post.author.has_avatar %}
                                <img class="ui tiny avatar left floated middle aligned image" src="{% static "img/avatar/" %}avatar_{{ post.author.id }}.jpg" />
                            {% else %}
                                <img class="ui tiny avatar left floated middle aligned image" src="{% static "img/avatar/default.png" %}" />
                            {% endif %}
                        </a>
                        <div class="ui tiny header">
                            <a href="/user/{{ post.author.id }}">{{ post.author.display_name }}</a>
                        </div>
                        <div class="ui rating" data-rating="{{ post.rating }}" data-max-rating="10"></div>
                        <br />
                        <a href="/post/{{ post.id }}"><div class="date">{{ post.date }}</div></a>
                    </div>
                    <div class="ui vertical segment">
                        <p>
                            {{ post.review }}
                        </p>
                    </div>
                    <!-- like segment -->
                    <div class="ui vertical segment">
                        <div class="ui grid">
                            <div class="row">
                                <div class="eight wide column" style="padding-left: 15px; width: 120px !important;">
                                    {% if post.liked %}
                                        <div class="ui basic labeled left icon blue button likeButton" id="like_button_{{ post.id }}" onclick="unlike({{ post.id }})">
                                            <i class="thumbs outline down icon"></i>
                                            Unlike
                                        </div>
                                    {% else %}
                                        <div class="ui basic labeled left icon blue button likeButton" id="like_button_{{ post.id }}" onclick="like({{ post.id }})">
                                            <i class="thumbs outline up icon"></i>
                                            Like
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="eight wide column">
                                    <div class="ui mini horizontal statistic" style="margin-top: 5px;">
                                        <div class="value likeCount" id="like_count_{{ post.id }}">{{ post.likes.count }}</div>
                                        <div class="label">people like this.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- like segment end -->
                    <!-- comments segment -->
                    {#                    <div class="ui vertical segment">#}
                    {#                        <form class="ui reply form commentForm">#}
                    {#                            <div class="field">#}
                    {#                                <div class="ui action input">#}
                    {#                                    <input type="text" placeholder="Type your comment..." id="commentText1">#}
                    {#                                    <button class="ui small blue right labeled icon button commentButton" id="commentButton1">#}
                    {#                                        <i class="comment outline icon"></i>#}
                    {#                                        Comment#}
                    {#                                    </button>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </form>#}
                    {#                        <h4 class="ui dividing header"><span id="commentsCount1">3</span> Comments</h4>#}
                    {#                        <div class="ui comments" id="comments1">#}
                    {#                            <div class="comment">#}
                    {#                                <a href="userProfile.html" class="avatar">#}
                    {#                                    <img src="img/avatar/matt.jpg">#}
                    {#                                </a>#}
                    {#                                <div class="content">#}
                    {#                                    <a class="author" href="userProfile.html">Matt Telbas</a>#}
                    {#                                    <div class="metadata">#}
                    {#                                        <span class="date">Today at 5:42PM</span>#}
                    {#                                    </div>#}
                    {#                                    <div class="text">#}
                    {#                                        How artistic!#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="comment">#}
                    {#                                <a href="userProfile.html" class="avatar">#}
                    {#                                    <img src="img/avatar/jenny.jpg">#}
                    {#                                </a>#}
                    {#                                <div class="content">#}
                    {#                                    <a class="author"  href="userProfile.html">Jenny Hess</a>#}
                    {#                                    <div class="metadata">#}
                    {#                                        <span class="date">Yesterday at 12:30AM</span>#}
                    {#                                    </div>#}
                    {#                                    <div class="text">#}
                    {#                                        <p>This has been very useful for my "research". Thanks as well!</p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="comment">#}
                    {#                                <a href="userProfile.html" class="avatar">#}
                    {#                                    <img src="img/avatar/joe.jpg">#}
                    {#                                </a>#}
                    {#                                <div class="content">#}
                    {#                                    <a class="author"  href="userProfile.html">Joe Henderson</a>#}
                    {#                                    <div class="metadata">#}
                    {#                                        <span class="date">5 days ago</span>#}
                    {#                                    </div>#}
                    {#                                    <div class="text">#}
                    {#                                        Dude, this is awesome. Thanks so much#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <!-- comments segment end -->
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- main column end -->

    <!-- Modal -->
    <div class="ui modal" id="reviewModal">
        <div class="header">If You'd Like, Share Your Opinion!</div>
        <div class="content">
            <div class="description" style="width:20%;">
                <div class="ui medium header"><a class="ui link" href="/movie/{{ movie.id }}">{{ movie.name }}</a></div>
                <div class="ui small header" style="margin-top: 8px !important;">Your Rate: <span class="text" id="rating"></span>/10</div>
                <div class="extra">
                    <div class="ui small image">
                        <img src="{% static "img/posters" %}/{{ movie.poster }}">
                    </div>
                </div>
            </div>
            <form class="ui form" method="post" action="/movie/{{ movie.id }}/submit_review" id="review_form">
                {% csrf_token %}
                <div class="field">
                    <label for="textarea">Please Write Your Opinion</label>
                    <textarea name="review" id="textarea"></textarea>
                </div>
                <input name="rating" type="hidden" id="rating_hidden_input" value="">
            </form>
        </div>
        <div class="actions">
            <div class="ui deny red button">Cancel</div>
            <div class="ui approve green submit button">Submit</div>
        </div>
    </div>
    <!-- Modal end-->
{% endblock %}

{% block scripts %}
    $('.ui .rating').rating('enable');
    $('.ui .rating').rating('setting', 'clearable', true);
{% endblock %}