{% extends 'movie_template.html' %}
{% load staticfiles %}

{% block main %}
    <!-- main column -->
    <div class="six wide computer eleven wide tablet sixteen wide mobile column">
        <div class="ui segment">
            <div class="ui segment">
                <div class="ui small header">
                    Rate this movie:
                </div>
                <div class="ui huge rating" data-max-rating="10" id="commentWindow"></div>
            </div>
            {% if posts %}
                {% for post in posts %}
                    <div class="ui segment">
                        <div class="ui vertical segment">
                            <a href="/user/{{ post.author.id }}">
                                <img class="ui tiny avatar left floated middle aligned image" src="{{ post.author.avatar.url }}" />
                            </a>
                            <div class="ui tiny header">
                                <a href="/user/{{ post.author.id }}">{{ post.author.display_name }}</a>
                            </div>
                            <div class="ui rating" data-rating="{{ post.rating }}" data-max-rating="10"></div>
                            <br />
                            <a href="/post/{{ post.id }}"><div class="date">{{ post.date }}</div></a>
                        </div>
                        <div class="ui vertical segment">
                            <p>
                                {{ post.review }}
                            </p>
                        </div>
                        <!-- like segment -->
                        <div class="ui vertical segment">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="eight wide column" style="padding-left: 15px; width: 120px !important;">
                                        {% if post.liked %}
                                            <div class="ui basic labeled left icon blue button likeButton" id="like_button_{{ post.id }}" onclick="unlike({{ post.id }})">
                                                <i class="thumbs outline down icon"></i>
                                                Unlike
                                            </div>
                                        {% else %}
                                            <div class="ui basic labeled left icon blue button likeButton" id="like_button_{{ post.id }}" onclick="like({{ post.id }})">
                                                <i class="thumbs outline up icon"></i>
                                                Like
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="eight wide column">
                                        <div class="ui mini horizontal statistic" style="margin-top: 5px;">
                                            <div class="value likeCount" id="like_count_{{ post.id }}">{{ post.likes.count }}</div>
                                            <div class="label">people like this.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- like segment end -->

                        <!-- comments segment -->
                        <div class="ui vertical segment">
                            <div class="ui reply form">
                                <div class="field">
                                    <div class="ui action input">
                                        <input onkeypress="comment_input(event, {{ post.id }}, {{ logged_in.id }}, '{{ logged_in.display_name }}')" class="comment_input" type="text" placeholder="Type your comment..." id="comment_text_{{ post.id }}" name="comment_text">
                                        <div class="ui small blue right labeled icon button" onclick="comment({{ post.id }}, {{  logged_in.id }}, '{{ logged_in.display_name }}')">
                                            <i class="comment outline icon"></i>
                                            Comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="ui dividing header"><span id="comments_count_{{ post.id }}">{{ post.comments.count }}</span> Comments</h4>
                            <div class="ui comments" id="comments_section_{{ post.id }}">
                                {% for comment in post.comments.all %}
                                    <div class="comment">
                                        <a href="/user/{{ comment.user.id }}" class="avatar">
                                            <img src="{{ comment.user.avatar.url }}">
                                        </a>
                                        <div class="content">
                                            <a class="author" href="/user/{{ comment.user.id }}">{{ comment.user.display_name }}</a>
                                            <div class="metadata">
                                                <span class="date">{{ comment.date }}</span>
                                            </div>
                                            <div class="text">
                                                {{ comment.text }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- comments segment end -->
                    </div>
                {% endfor %}
            {% else %}
                <p>Oops! Looks like there is nothing to show. Be the first one to review this movie.</p>
            {% endif %}
            {% if has_older %}
                <a href="/movie/{{ movie.id }}/reviews/{{ older_page }}/">
                    <div class="ui basic button">Older</div>
                </a>
            {% endif %}
            {% if has_newer %}
                <a href="/movie/{{ movie.id }}/reviews/{{ newer_page }}/">
                    <div class="ui basic button">Newer</div>
                </a>
            {% endif %}
        </div>
    </div>
    <!-- main column end -->

    <!-- Modal -->
    <div class="ui modal" id="reviewModal">
        <div class="header">If You'd Like, Share Your Opinion!</div>
        <div class="content">
            <div class="description" style="width:20%;">
                <div class="ui medium header"><a class="ui link" href="/movie/{{ movie.id }}">{{ movie.name }}</a></div>
                <div class="ui small header" style="margin-top: 8px !important;">Your Rate: <span class="text" id="rating"></span>/10</div>
                <div class="extra">
                    <div class="ui small image">
                        <img src="{% static "img/posters" %}/{{ movie.poster }}">
                    </div>
                </div>
            </div>
            <form class="ui form" method="post" action="/movie/{{ movie.id }}/submit_review/" id="review_form">
                {% csrf_token %}
                <div class="field">
                    <label for="textarea">Please Write Your Opinion</label>
                    <textarea name="review" id="textarea"></textarea>
                </div>
                <input name="rating" type="hidden" id="rating_hidden_input" value="">
            </form>
        </div>
        <div class="actions">
            <div class="ui deny red button">Cancel</div>
            <div class="ui approve green submit button">Submit</div>
        </div>
    </div>
    <!-- Modal end-->
{% endblock %}

{% block scripts %}
    $('.ui.huge.rating').rating('enable');
    $('.ui.huge.rating').rating('setting', 'clearable', true);
{% endblock %}
